.benefit {
  &__inner {
    @include row-flex;
  }

  &__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: 15px;

    margin-bottom: 15px;

    text-align: center;
    @include col;
    @include size(6);
    @include size-bp994(3);
  }

  &__item-imgbox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    @include bp480-block {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  &__item-img {
    @include bp480-block {
      width: 80px;
      height: 80px;
    }
  }

  &__item-name {
    width: 100%;

    // max-width: 200px;

    text-transform: uppercase;

    color: $color_light;

    font-family: Oswald, sans-serif;

    font-size: 18px;
    line-height: 22px;
    @include bp480-block {
      font-size: 24px;
      line-height: 30px;
    }
    @include bp994-block {
      font-size: 32px;
      line-height: 48px;
    }
    @include bp994-block {
      font-size: 40px;
      line-height: 48px;
    }
  }
}
