/* COLORS */

/* Main color */
$color_light: #fff;
$color_passive: #33364a;
$color_dark: #0d0827;
$color_dark_light: #261e50;
$color_dark_alph: rgb(22 23 41 / 2%);
$color_active: #b81e71;
$color_attention: #fbb72f;
$color_success: green;

/* TIME */

$th: 0.25s;

/* Settings */

/* Main */
$background_main: $color_dark;
$font_color: $color_dark;
